<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Benedictine College | Registrar Forms</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="../static/css/forms.css" rel="stylesheet">
        <script src="../static/js/forms.js"></script>
    </head>
    <body>
        <div class="row ms-1 mt-1">
            <p class="back"><a href="../forms">&#x2190; Back</a></p>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <div class="text-center mt-3">
                    <img class="logo-img" src="../static/imgs/logo_horizontal.png" alt="Benedictine College">
                </div>
                <div class="text-center">
                    <h1 class="text-center mt-5">Declare Minor</h1>
                    <p class="text-center">Please fill out the form below to declare a minor.</p>
                    <div class="form text-center mb-5">
                        <!-- START OF FORM-->
                        <form action="/submit/">
                            <input type="hidden" name="form" value="declareMinor">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="fname" placeholder="">
                                        <label for="fname">First Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="lname" placeholder="">
                                        <label for="lname">Last Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="number" class="number form-control" id="stuID" min="0" step="1" maxlength="7" placeholder="" inputmode="numeric">
                                        <label for="stuID">Student ID</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="input-group form-floating mb-3">
                                        <input type="text" class="form-control" id="stuEmail" placeholder="" maxlength="8" aria-describedby="basic-addon2">
                                        <label for="stuEmail">Student Email</label>
                                        <span class="input-group-text email" id="basic-addon2">@ravens.benedictine.edu</span>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input id="catalogYear" type="number" class="form-control" min="2018" max="{{ date.year }}">
                                        <label for="catalogYear">Catalog Year</label>
                                        <p class="grey-out text-start ms-3">Year you were a freshman.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" id="degreeDate" placeholder="">
                                        <label for="degreeDate">Anticipated Degree Date</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="major" placeholder="">
                                        <label for="major">Already Declared Major:</label>
                                        <p class="grey-out text-start ms-3">If you have already declared a major, please enter it here.</p>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="sig form-control" id="sSignature" style="font-family: cursive;">
                                        <label for="sSignature">Student Signature</label>
                                        <p class="small text-start gray-out ms-3"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="sig form-control" id="iSignature" style="font-family: cursive;">
                                        <label for="iSignature">Instructor Signature</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="col-12">
                                        <input class="submit" type="submit" class="form-control" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>